.divArticulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;

}
.articulo1{
    font-family: 'Azeret Mono', monospace;
    display: block ;
    background-color: #114b09;
    width: 600px;
    height: 400px;
    padding: 15px;
    margin: 10px;
    color: black;
    

    img{
        width: 550px;
        height: auto;
    }
}
.articulo2{
    font-family: 'Azeret Mono', monospace;
    display: block ;
    background-color: #114b09;
    width: 600px;
    height: 400px;
    padding: 15px;
    margin: 10px;
    color: black;
    

    img{
        width: 550px;
        height: auto;
    }
}
.articulo3{
    font-family: 'Azeret Mono', monospace;
    display: block ;
    background-color: #114b09;
    width: 600px;
    height: 400px;
    padding: 15px;
    margin: 10px;
    color: black;
    

    img{
        width: 550px;
        height: auto;
    }
}